/* Add your CSS code below */
.link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: solid blue 2px;
}
.message__content : {
  opacity: 100%;
  line-height: 32px;
}
.messages .message:first-child {
  opacity: 50%;
}
